h1 {
  font-size: 40px;
}

.container_new {
  margin-top: 200px;
  background: white;
}

.presentation {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: left;
}

.box2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
