
    <%= link_to cocktail_path(cocktail) do %>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_url 'sex.jpg'%>');">
        <div class="card-category">Monthly Popular</div>
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
          <p>Very cool cocktail</p>
        </div>
      </div>
    </div>
    <% end %>
