

  <div class="banner" style="background-image: url(<%= image_url 'fond.jpg'%>);">
    <div class="banner-content">
      <h1>Le Cokctail party</h1>
      <p>Decouvrez des saveurs inedites</p>
      <%= link_to "ajouter votre cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
      <!-- <a class="btn btn-primary btn-lg">ajouter votre cocktails</a> -->
    </div>
  </div>
