.card {
  height: 500px;
  background-position: center;
  color: #d05c62;
  border-top-right-radius: 16px;
  margin: 20px;
}

.up_block {
  height: 250px;
  background-position: center !important;
  background-size: cover !important;
  border-top-right-radius: 16px;
}

.card-category {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  top: 50px;
  left: 30px;
  font-family: 'Lobster Two', cursive;
  font-weight: 400;
  font-style: italic;
}
.card-description h2 {
  font-size: 35px;
}
.card-description p {
  font-size: 15px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.bottom_block {
  background-color: #FFFFFF;
  height: 250px;
  position: relative;
  border-bottom-left-radius: 16px;
}

.bg_red {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 0;
  position: absolute;
  background: #d05c62;
  border-bottom-left-radius: 16px;
}
